@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: 1.25rem "Inconsolata", serif;
    background-color: #0d1117;
    background-image: radial-gradient(#0d1117, #6e7681);
}

header,
footer {
    position: sticky;
    text-align: center;
    color: #e6edf3;
    background-color: #161b22;
}

header {
    top: 0;
}

h1 {
    padding: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    border: 1px solid #e6edf3;
    font-weight: bolder;
    background-color: #161b22;
}

nav a:any-link {
    color: #e6edf3;
}

nav :is(a:hover, a:focus) {
    color: #79c0ff;
}

nav a:active {
    color: #ff7b72;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;
    padding: 0.5rem;
}

/* || PROFILE CARD */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border: 5px double #161b22;
    border-radius: 10px;
    background-color: #e6edf3;
    scroll-margin-top: 2.75rem;
}

.card:target {
    border: 5px solid #1f6feb;
    font-weight: bolder;
}

.card figure {
    display: flex;
    flex-flow: column nowrap;
}

.card img {
    border: 2px double #6e7681;
    border-radius: 10px;
}

.card figcaption {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

/* || XXSMALL */
@media (min-width: 375px) {
    main {
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem;
    }

    .card {
        scroll-margin-top: 0.25rem;
    }

    .card:last-child {
        order: -1;
    }
}

/* || XSMALL */
@media (min-width: 425px) {
    main {
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem;
    }

    .card {
        width: 75%;
    }

    .card:nth-child(2) {
        order: -1;
    }
}

/* || SMALL */
@media (min-width: 576px) {
    main {
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem;
    }

    .card {
        width: 50%;
    }

    .card:last-child {
        order: -1;
    }
}

/* || MEDIUM */
@media (min-width: 768px) {
    nav {
        display: none;
    }

    h1::before {
        content: '💻 ';
        font-size: 2rem;
    }

    h1::after {
        content: ' 💻';
        font-size: 2rem;
    }

    .card {
        width: 33.33%;
    }

    .card figure {
        flex-flow: column-reverse;
    }

    .card figcaption {
        font-size: 1.65rem;
    }

    .card h2 {
        margin-top: 1rem;
        font-size: 1.325rem;
    }
}

/* || LARGE */
@media (min-width: 992px) {
    .card {
        width: min(33% - 1rem, 500px);
    }

    .card:nth-child(2) {
        order: -1;
    }

    .card figcaption {
        font-size: 2.5rem;
    }
}

/* || XLARGE */
@media (min-width: 1200px) {
    .card {
        width: min(33% - 1rem, 500px);
    }

    .card:nth-child(2) {
        order: -1;
    }
}

/* || XXLARGE */
@media (min-width: 1400px) {
    h1 {
        font-size: 3rem;
    }

    h1::before,
    h1::after {
        font-size: 2.5rem;
    }

    .card {
        width: min(33% - 1rem, 500px);
    }

    .card:last-child {
        order: 0;
    }
}

/* || XXXLARGE */
@media (min-width: 1536px) {
    body {
        font-size: 1.5rem;
    }

    .card {
        width: min(30% - 1rem, 600px);
    }
}

/* || MOBILE DEVICE LANDSCAPE */
@media (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1 {
        font-size: 2rem;
    }

    nav {
        display: none;
    }

    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card {
        width: 100%;
    }

    .card figcaption,
    .card h2 {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }
}